<form class="ui stacked segment form" action="/artCollection/{{artCollection.id}}/addartwork" method="POST" enctype="multipart/form-data">
  <div class="five fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Artist</label>
      <input placeholder="Artist" type="text" name="artist" required>
    </div>
    <div class="field">
      <label for = "medium"> Medium</label>
      <select name="medium" id="medium">
              <option value ="Digital 2D">Digital 2D</option>
              <option value ="Digital 3D">Digital 3D</option>
              <option value ="Oil Painting">Oil Painting</option>
              <option value ="Acrylic Painting">Acrylic Painting</option>
              <option value ="Mural">Mural</option>
			</select> 
    </div>
    <div class="field">
      <label>PublishDate</label>
      <input placeholder="PublishDate" type="date" name="publishDate" required>
    </div>
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>

  </div>
  <button class="ui blue submit button">Add Artwork</button>
</form>