<nav class="ui grid">
  <header class="ui header item"> <a href="/start"> ArtArchive </a></header>
  <div class="four wide column">
    <span class="name">{{fullname}}</span>
    <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");

</script>